# Editors and IDEs

/*.code-workspace
/.vscode

# Git

/.gitattributes
/.github
/.gitignore

# Documentation

/docs

# Source

/scripts
/src

# Compilation

/build

# NPM

/node_modules

# Configs

/.eslintrc.json
/.prettierignore
/.prettierrc
/tsconfig.json

# Test

/coverage
